body{
  background-color: #eee;
}

.header{
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
}

.header-title{
  font-size: 36px;
  padding-top: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.container{
  display: flex;
  /*background-color: red;*/
  margin: 0 auto;
  width: 1000px;
}

.list-item-container{
  display: grid;
  width: 700px;
  /*background-color: yellow;*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(100px, auto));
}

.list-item{
  background-color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.list-item:first-child,
.list-item:nth-child(4){
  margin-left: 10px;
}

.list-item:nth-child(4),
.list-item:nth-child(5),
.list-item:nth-child(6){
  margin-bottom: 10px;
}

.list-img{
  width: 100%;
  height: 150px;
  margin-top: 10px;
}

.list-item-body{
  padding: 15px;
  display: flex;
}

.list-item-title{
  font-size: 20px;
  color: tomato;
}

.list-item-price{
  margin-top: 5px;
  color: gray;
}

.list-btn-container{
  width: 100%;
  position: relative;
}

.list-btn{
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #000;
  border-radius: 5px;
  right: 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  cursor: pointer;
}

/*Order.jsx*/
.empty{
  margin-top: 10px;
  width: 280px;
  height: 140px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding-top: 50px;
}


.empty-title{
  font-size: 24px;
  color: gray;
}

.empty-subtitle{
  font-size: 12px;
  color: grey;
}

.empty-title,
.empty-subtitle {
  margin: 12px auto;
}

.order{
  margin: 0 auto;
  margin-top: 10px;
  width: 260px;
}

.order-container{
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}